* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #104182;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: pink;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

#bookLogo {
    height: 50px;
    width: auto;
}

#header ul {
    float:right;
}

#header ul, #footerUl ul {
    list-style-type: none;
}

#header ul li {
    display: inline;
    margin-left: 25px;
}

#header ul a:hover {
    text-decoration: underline;
    color: rgb(165, 112, 14);
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#banner {
    position: relative;
    max-width: 95%;
    border-radius: 5px;
    margin: 0 auto;
    border: 3px white dashed;
}

#bottomBorder {
    padding: 0;
    margin: 0 -15px 10px -15px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* this is where the large aside content goes */

#footerTop {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: pink;
    border:white 3px dashed;
}

#footerBook{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#footerUl ul {
    display: flex;
    flex-flow: row wrap;
    /* float: right; */
    justify-content:space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#footerUl ul a {
    margin-right: 15px;
}

#footerUl ul a:hover {
    text-decoration: underline;
    color: rgb(165, 112, 14);
}

#footerTop p {
    color: yellow;
    margin: 0 10px;
}

#footerPhoto {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

#copywrite {
    color: rgb(77, 33, 41);
}

@media (min-width:769px) {
    .image-1 {
    display: block;
    }
    .image-2 {
    display: none;
    }
    #contentSection {
        display: flex;
        flex-flow: row nowrap;
    }
    
    #content {
        display:flex;
        flex-flow: column nowrap;
    }
    .books {
        margin: 0 0 20px 20px;
        padding: 5%;
        width:75%;
        height: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: pink;
        color: #ffffff;
    }
    
    .books img {
        max-height: 200px;
    }
    
    .books h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
    
    #whyRead {
        display:flex;
        flex-flow: column nowrap;
        align-self: center;
        padding: 20px;
        width: 400px;
        margin-left: -150px;
        background-color: pink;
        text-align:center;
    }
    .benefits {
        margin-bottom: 30px;
    }
    
    .benefits h3 {
        margin-bottom: 10px;
        text-align: center;
        color: rgb(77, 33, 41);
    }
    
    .benefits img {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
}

@media (max-width:768px) {
    .image-1 {
    display: none;
    }
    .image-2 {
    display: block;
    }
    #footerUl ul{
        flex-direction: column;
    }
    #footerUl ul li{
        padding: 5px;
    }

    #contentSection {
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
    }

    #content {
        display:flex;
        flex-flow: column nowrap;
    }

    .books {
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        padding: 5%;
        width:100;
        height: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: pink;
        color: #ffffff;

    }
    
    .books img {
        width: 40%;
    }
    
    .books h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }


    #whyRead {
        padding: 10px;
        margin: 10px;
        justify-content: center;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: pink;
        text-align: center;
    }
    .benefits {
        margin-bottom: 32px;
    }

    .benefits h3 {
        margin-bottom: 10px;
        text-align: center;
        color: rgb(77, 33, 41);
    }

    .benefits img {
        display: block;
        margin: 10px auto;
        width: 20%;
    }
}